@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
    font-family: NeoncityScript;
    src: url(../fonts/NeoncityScript.otf);
}
body {
    cursor: url(../images/cur.png), auto;
    user-select: none;
    margin: 0;
    background: #000;
}

main {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    z-index: 2;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vmin;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/arrows.svg) no-repeat center center #000;
    background-size: 20vmin 20vmin;
    color: #fff;
    z-index: 3;
}

.sphere_ {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.sphere {
    transition: background .4s ease-out, transform 5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.7);
    width: 100vmax;
    height: 100vmax;
    border-radius: 50%;
    background:  url(../images/bar.gif) center center;
    /* background-size: cover; */
    box-shadow:
        inset 0 0 50px #fff,      /* inner white */
        inset 20px 0 80px #f0f,   /* inner left magenta short */
        inset -20px 0 80px #0ff,  /* inner right cyan short */
        inset 20px 0 300px #f0f,  /* inner left magenta broad */
        inset -20px 0 300px #0ff, /* inner right cyan broad */
        0 0 50px #fff,            /* outer white */
        -10px 0 80px #f0f,        /* outer left magenta */
        10px 0 80px #0ff;         /* outer right cyan */
}

.hello {
    font-family: NeoncityScript;
    font-size: 20vmin;
    line-height: 0;
    font-weight: 100;
    color: #fff;
    animation: neon 1.5s ease-in-out infinite alternate;
    padding: 0;
    
    transition: all .2s;
}

::placeholder {
    color: #0007;
}
.login_ {
    position: relative;
}
.auth .login {
    padding: 2vmin;
    padding-right: 3vmin;
    font-family: 'Press Start 2P', cursive;
    font-size: 3vmin;
    width: 20vw;
    color: #000c;
    text-shadow:  0 0 5px #0ff6, 0 0 10px #0ff6;
    text-align: center;
    background: radial-gradient(#0ff6, #f0f6);
    border: 1vmin solid #0007;
    outline: 1px solid #0ff7;
}

.login-btn {
    position: absolute;
    right: 1vmin;
    width: 3vmin;
    height: 3vmin;
    top: 50%;
    color: #0007;
    text-shadow:  0 0 5px #0ff6, 0 0 10px #0ff6;
    transform: translateY(-50%);
    background: url(../images/arrow.png) no-repeat center center;
    background-size: contain;
    border: none;
}




@keyframes neon {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }

    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
    }
}